{% comment %}
Dropdown menu Alpine.

Uso:
  {% include 'dashboard/_partials/dropdown.html' with trigger='Ações ⌄' items_html='<a class="dropdown-item" href="...">Editar</a><a class="dropdown-item">Deletar</a>' %}
{% endcomment %}
<div x-data="{ open: false }" class="relative inline-block" @click.outside="open = false">
  <button @click="open = !open"
          class="text-xs bg-surface border border-border hover:bg-muted rounded-lg px-3 py-1.5 text-fg-muted">
    {{ trigger|safe }}
  </button>
  <div x-show="open" x-cloak x-transition.opacity.duration.150ms
       class="absolute right-0 mt-1 w-48 card p-1 z-30">
    {{ items_html|safe }}
  </div>
</div>
